<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <header class="header">
      <h1>New Restaurant </h1>
      <div class="actions text-right">
        <%= link_to raw('<i class="fas fa-chevron-left"></i> Back'), restaurants_path %>
      </div>
    </header>
    <%= render 'form', restaurant: @restaurant %>
  </div>
</div>


